
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */

.bg-light{
    background: rgba(255, 144, 14, 0.1);
}
.display-flex{
    display: flex;
}

.text-gray{
    color: #424242;
}

.text-light-gray{
    color: #727272;
}

.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.section-title{
    font-weight: 700;
    font-size: 2.8rem;
    color: #131313;
}
/* nav related styles */


.navbar{
justify-content: space-between;
align-items: center;
}
.nav-items{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
text-decoration: none;
font-weight: 500;
}
.navbar , .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related styles */
.brand{
    font-weight: bold;
    font-size: 1.8rem;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-description{
    font-size: 1rem;
}
.banner-img{
    width: 100%;
}


/* teams and feature related styles */
.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.team-feature{
    margin-left: 100px;
    max-height: 530px;
}

#quick-list{
color:#727272;
font-weight: 500;
}
#feature{
    color: #FF900E;

}
/* feature related styles */
#feature-left-border{
border-left: 5px solid #FF900E;
padding-left: 20px;
}
.feature{
    gap: 100px;
}
.feature-card{
    padding: 30px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius:8px ;
    margin-top: 20px;
}
.feature-title{
    font-weight: 600;
    font-size: 1.5rem;
    color: #131313;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
.feature-img img{
        width: 100%;
    }

#special{
    padding: 40px;
    margin-top: -100px;
    margin-left: -70px;
}
#year{
    font-weight: 700;
    font-size: 4rem;
}

#experience{
    font-weight: 500;
    font-size: 1.85rem;
}
/* some facts related styles */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
}
.fact{
    border: 1px solid tomato;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-number{
    font-weight: 600;
    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 5px;

}
.fact-name{
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
}

/* sponsor related styles */

.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.sponsor-companies img{
    filter: grayscale(100%);
}

/* footer related styles */
.footer{
    max-width: 1440px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 140px;
}
.footer-description{
    text-align: center;
    padding: 30px 410px;
}
/* responsive media query */
@media screen and (max-width:576px){
    .navbar, .nav-items , .teams ,.feature{
        flex-direction: column;
    }
    .team-img-container ,.facts-container ,.sponsor-companies {
        grid-template-columns: repeat(1,1fr);
    }
    .team-feature{
        margin-left: 20px;
    }
    .facts-container ,.sponsor-companies{
        justify-items: center;
        gap: 20px;
    }
    #special{
        margin-top: 0px;
        margin-left: 20px;
    }
    .footer{
        height: auto;
        
    }
    .footer-description{
padding-right: 10px;
        padding-left: 10px;
    }
}


@media screen and (min-width:576px) and (max-width:992px)
{
    .teams ,.feature{
        flex-direction: column;
    }
    .teams-feature{
        margin: 50px auto;
    }
    .facts-container{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
    .sponsor-companies{
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
        justify-items: center;
    }
    #special{
        margin: 0px;
        margin-left: 20px;
    }
}